aniso8601==3.0.0
arrow==0.12.1
attrs==17.4.0
awsebcli==3.12.4
binaryornot==0.4.4
blessed==1.14.2
botocore==1.9.6
cement==2.8.2
certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.3.7
cookiecutter==1.6.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
-e git+https://github.com/ernest4/dublin_bikes_flask_app_team_12.git@20d75aa2d91255733d4d5fc1e62d7a77104f678a#egg=dublinBikes
ez-setup==0.9
Flask==0.12.2
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
flaskSysInfo==1.0
future==0.16.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.3
-e git+https://github.com/ernest4/light_checker_assignmnet3.git@c691f9efc05e89dfe867e6bfb55f50b24c643ff4#egg=light_counter
MarkupSafe==1.0
numpy==1.14.1
pathspec==0.5.5
pluggy==0.6.0
poyo==0.4.1
py==1.5.2
PyMySQL==0.8.0
PyScaffold==3.0.1
pytest==3.4.1
python-dateutil==2.7.0
## !! Could not determine repository location
pythonBoilerplate-3==0.0.post0.dev1+gb6fbaf2.dirty
## !! Could not determine repository location
pythonBoilerplate3==0.0.post0.dev1+gb6fbaf2
pytz==2018.3
PyYAML==3.12
requests==2.9.1
semantic-version==2.5.0
six==1.11.0
SQLAlchemy==1.2.5
sysinfo==0.2.1
systeminfo==0.1
tabulate==0.7.5
termcolor==1.1.0
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.47.0
Werkzeug==0.14.1
whichcraft==0.4.1
