<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dublin bikes</title>
        <link rel="stylesheet" href="../static/css/main.css">
        <script src="/static/js/jquery-3.2.0.min.js"></script>
		<script type="text/javascript" src="../static/js/script.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
		<div id="overlay" onclick="off()">
  			<div id="text">...one moment...</div>
			<div id="daily_chart"></div>
		</div>
        <header>
            <a href="/" id="head">
				<img class='logo' id='logo1' src ="../static/img/dublinbike.png">
				<img class='logo' id='logo2' src ="../static/img/dublinbike.png">
				<div id=headertext>
					<h2>Dublin Bikes</h2>
					<h3>Click marker for availability.</h3>
				</div>
				<script src="../static/js/weather.js"></script>
            </a>
            <nav></nav>
        </header>
         <div id="wrapper">
            <h3><i> </i></h3>
                <ul id="sections">
                    <li class="mapper">
						<div class="weatherDiv" id="overlay1">
						<div id="icon">--</div>
						<div id="currentWeather">--</div>
						<div id="windspeed">--</div>
						<div id="currentTemp">--</div>
						</div>
                        <div id="dublin_map"> </div>
					</li>
			</ul>
            <footer>
                <a href="http://twitter.com/colinjohn"><img src="../static/img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
                <a href="https://github.com/ernest4/dublin_bikes_flask_app_team_12.git"><img src="../static/img/github-wrap.png" alt="../static/Github Logo" class="social-icon"></a>
                <p>&copy; 2018 Colin, Ernestas and Wang.</p>
            </footer>
        </div>
        <script async defer type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC1akmKtf1-TNTdoMGmeK5fwpN-g-0y6OU&amp;callback=initialize"></script>
    </body>
</html>
