/*************************
GENERAL
**************************/

body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding:  5%;
	border: 1px solid red;
}

a {
    text-decoration: none;
    color: #23a1a6;
	
}
.mapper {
    float: left;
    max-width: 1024px;
	min-height: 250px;
	max-height:2400px;
    border: 1px solid red;
    position: relative;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
}
#dublin_map {

	width: 100%;
    height: 500px;
		border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
    }

h3 {
    font-family: 'Muli', sans-serif;
    margin: 0 0 1em 0;
}

/*************************
HEADING
**************************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Muli', sans-serif;
    margin: 15px 0;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 0.8em;
    text-transform: uppercase;
}

h2 {
    font-family: 'Muli', sans-serif;
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}




/*************************
FOOTER
**************************/

footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}


/*************************
Main body
**************************/

#sections {
    margin: 0;
    padding: 0;
    list-style: none;

}

#sections li {
    float: left;
    width: 100%;
    background-color: #e2e2e2;
    color: #bdc3c7;
    margin-top:20px;
	

}

#sections li a p {
    margin: 20%;
    padding: 5%;
    font-size: 0.75em;
    color: #9ca4aa;
}



/*************************
NAVIGATION
**************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}


/*************************
	! overlay !
**************************/
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}


/*************************
       ! WEATHER!
**************************/
.weatherDiv {
    color: black;
    max-width: 150px;
    position: absolute;
	z-index:1;
    margin: 5px;
    width: 80%;
    height: 25%;
    font-size: 12px;
	font-weight: bolder;
    text-align: center;
	background-color: #C4EBB4;
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border: 1px solid red;

}

/*************************
        ! SEARCH !
**************************/
input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #555860;
}
.container {
  margin:  auto;
  width: 200px;
}
.search {
  position: absolute;
  margin: auto;
  width: 300px;
}
.search input {
  height: 26px;
  width: 100%;
  padding: 0 12px 0 25px;
  background: white url("../img/search.png") 8px 6px no-repeat;
  border: 1px solid;
  border-color: #a8acbc #babdcc #c0c3d2;
  border-radius: 13px;
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px #fcfcfc;
}
.search input:focus {
  outline: 0;
  border-color: #66b1ee;
  -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
  box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}
.search input:focus + .search-ac {
font-size: 9px;
  display: block;
}

.search-ac {
  display: none;
  position: absolute;
  width: 80%;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fdfdfd;
  border: 1px solid;
  border-color: #cbcfe2 #c8cee7 #c4c7d7;
  border-radius: 3px;
  font-size: .75em;
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: linear-gradient(to bottom, #fdfdfd, #eceef4);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.search-ac:hover {
  display: block;
}
.search-ac li {
  display: block;
}
.search-ac li:first-child {
  margin-top: -1px;
}
.search-ac li:first-child:before, .search-ac li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border: 5px outset transparent;
}
.search-ac li:first-child:before {
  border-bottom: 5px solid #c4c7d7;
  top: -11px;
}
.search-ac li:first-child:after {
  border-bottom: 5px solid #fdfdfd;
  top: -10px;
}
.search-ac li:first-child:hover:before, .search-ac li:first-child:hover:after {
  display: none;
}
.search-ac li:last-child {
  margin-bottom: -1px;
}
.search-ac a {
  text-align: left;
  display: block;
  position: relative;
  margin: 0 -1px;
  padding: 6px 10px 6px 10px;
  color: #808394;
  font-weight: 500;
  text-decoration: none;
  text-shadow: 0 1px white;
  border: 1px solid transparent;
  border-radius: 3px;
}
.search-ac a span {
  font-weight: 200;
}
.search-ac a:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  background: url("../img/arrow.png") 0 0 no-repeat;
}
.search-ac a:hover {
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #338cdf;
  border-color: #2380dd #2179d5 #1a60aa;
  background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
  background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
  background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
  background-image: linear-gradient(to bottom, #59aaf4, #338cdf);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}

:-moz-placeholder {
  color: #a7aabc;
  font-weight: 200;
}

::-webkit-input-placeholder {
  color: #a7aabc;
  font-weight: 200;
  line-height: 14px;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.lt-ie9 .search input {
  line-height: 26px;
}


/*************************
COLORS
**************************/

/* site body */
body {
    background-color: #fff;
    color: #999;
}

/* green header */
header {
    background: #23a1a6;
    border-color: #599a68;
}


nav {
    background: #22959a;
}

/* logo text */
h1, h2 {
    color: #fff;
}

