/*************************
GENERAL
**************************/

body {
    font-family: 'Open Sans', sans-serif;
	margin:0
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding:  5%;
	border: 1px solid red;
}

a {
    text-decoration: none;
    color: #23a1a6;
	
}
.mapper {
    float: left;
    max-width: 1024px;
	min-height: 250px;
	max-height:2400px;
    border: 1px solid red;
    position: relative;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
}
#dublin_map {

	width: 100%;
    height: 500px;
		border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
    }

h3 {
    font-family: 'Muli', sans-serif;
    margin: 0 0 1em 0;
}

/*************************
HEADING
**************************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Muli', sans-serif;
    margin: 15px 0;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 0.8em;
    text-transform: uppercase;
}

h2 {
    font-family: 'Muli', sans-serif;
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}




/*************************
FOOTER
**************************/

footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}


/*************************
Main body
**************************/

#sections {
    margin: 0;
    padding: 0;
    list-style: none;

}

#sections li {
    float: left;
    width: 100%;
    background-color: #e2e2e2;
    color: #bdc3c7;
    margin-top:20px;
	
	
	

}

#sections li a p {
    margin: 20%;
    padding: 5%;
    font-size: 0.75em;
    color: #9ca4aa;
}



/*************************
NAVIGATION
**************************/

nav {
    padding: 10px 0;
    margin: 20px 0 0;
}

/*************************
	! overlay !
**************************/
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}


/*************************
       ! WEATHER!
**************************/
.weatherDiv {
    color: black;
    max-width: 150px;
    position: absolute;
	z-index:1;
    margin: 5px;
    width: 80%;
    height: 25%;
    font-size: 12px;
	font-weight: bolder;
    text-align: center;
	background-color: #C4EBB4;
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border: 1px solid red;

}

/*************************
       ! BUTTON!
**************************/

.btn {
  background: #f9fbfc;
  background-image: -webkit-linear-gradient(top, #f9fbfc, #e1e8ed);
  background-image: -moz-linear-gradient(top, #f9fbfc, #e1e8ed);
  background-image: -ms-linear-gradient(top, #f9fbfc, #e1e8ed);
  background-image: -o-linear-gradient(top, #f9fbfc, #e1e8ed);
  background-image: linear-gradient(to bottom, #f9fbfc, #e1e8ed);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 2.5px 5px 2.5px 5px;
  text-decoration: none;
}

.btn:hover {
  background: #d2d8db;
  background-image: -webkit-linear-gradient(top, #d2d8db, #c8cacc);
  background-image: -moz-linear-gradient(top, #d2d8db, #c8cacc);
  background-image: -ms-linear-gradient(top, #d2d8db, #c8cacc);
  background-image: -o-linear-gradient(top, #d2d8db, #c8cacc);
  background-image: linear-gradient(to bottom, #d2d8db, #c8cacc);
  text-decoration: none;
}


/*************************
COLORS
**************************/

/* site body */
body {
    background-color: #fff;
    color: #999;
}
/* green header */
header {
    background: #23a1a6;
    border-color: #599a68;
}

/* logo text */
h1, h2 {
    color: #fff;
}